# Default ignored files
# -----------------------------------------------------------
# ALEF/MPS:
/**/classes_gen/
/**/source_gen/
/**/source_gen.caches/
/**/test_gen/
/**/test_gen.caches/
/**/generated/
/**/trace.info
/.mps/shelf/
/.mps/workspace.xml
